#login-container {
  margin-top: 10%;
}

#login-container h2,
#login-container button,
#login-container form {
  width: 100%;
}

#login-container button {
  margin-top: 15px;
}

#login-container .form-label {
  float: left;
}

.Login {
  width: 20rem;
}


.container-Login {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 3px 15px 3px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(10, 10, 10, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: linear-gradient(#3275b4, rgb(216, 223, 231));
}

.card-title-login {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  font-family: "";
}

.card-text-login {
  text-align: center;
  font-size: 15px;
  margin-top: 5px;
}

.login-fondo{
    margin-top: 100px;
}
