/* FOOTER */

.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:110px;
    width:100%;
    background-color: #167FD6;
}


/* NAVBAR */

.navbar{
    background-color: #167FD6;
}

