/* FOOTER */

.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:110px;
    width:100%;
    background-color: rgb(233, 172, 241);
}


/* NAVBAR */

.navbar{
    background-color: rgb(233, 172, 241);
}

