.inicio-img {
  width: 100%;
  height: 200vh;
  background: url("../../assets/fondo7.jpg") top center;
  background-size: cover;
  position: relative;
  margin-bottom: -270px;
}

.cta {
  background-size: cover;
  padding: 60px 0;
}
.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}
.cta p {
  color: #fff;
}
.cta-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid rgba(3, 61, 56, 0.5);
  color: #fff;
  text-decoration: none;
  background-color: #19c569;
}
.cta .cta-btn:hover {
  border-color: #fff;
}

.contact {
  padding-bottom: 80px;
  margin-bottom: -150px;
}
.contact .info-box {
  color: #444444;
  background: rgb(247, 247, 247);
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
}
.contact .info-box i {
  font-size: 32px;
  color: #67b0d1;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #f0f7fa;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  margin-bottom: -600px;
  margin-left: 50px;
  margin-top: 100px;
}
.team .member {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.team .member .pic {
  overflow: hidden;
}
.team-tittle{
    font-family: 'Libre Baskerville', sans-serif;
}
.team .member .member-info {
  position: absolute;
  top: 85%;
  left: 20px;
  right: 20px;
  background: #fff;
  padding: 20px 0;
  color: #2f4d5a;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  max-height: 95px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}
.team .member:hover .member-info {
  max-height: 300px;
}
.team .member h4 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 16px;
  color: #2f4d5a;
  position: relative;
  padding-bottom: 10px;
}
.team .member h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #b1cbd7;
  bottom: 0;
  left: calc(50% - 25px);
}
.team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}
.team .member .social {
  margin-top: 15px;
}
.team .member .social a {
  transition: color 0.3s;
  color: #52869d;
}
.team .member .social a:hover {
  color: #67b0d1;
}
.team .member .social i {
  font-size: 16px;
  margin: 0 2px;
}
@media (max-width: 992px) {
  .team .member {
    margin-bottom: 110px;
  }
}
